

{% extends 'userpage/userindex.html' %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/add_changepassword_user_POST"> {% csrf_token %}
    <table class="table table-striped">
        <tr>
            <td>Oldpassword</td>
            <td><input type="text" name="oldpassword" class="form-control" required="[a-z A-Z]+"></td>
            <tr>
        <td>New password</td>
        <td><input type="text" name="newpassword" class="form-control" required="[a-z A-Z]+"></td>
        <tr>
        <td>Confirm password</td>
        <td><input type="text" name="confirmpassword" class="form-control" required="[a-z A-Z]+"></td>
        <tr>
        <td><input type="submit" class="btn btn-info"></td>
        </tr>
    </table>
</form>

</body>
</html>
{% endblock %}