{% extends 'userpage/userindex.html' %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/sent_complaint_user_POST"> {% csrf_token %}
    <table class="table table-striped">
        <tr>
            <td>Complaint</td>
            <td><input type="text" name="complaint" class="form-control" required="[a-z A-Z]+"></td>
            <tr>
        <td><input type="submit" class="btn btn-info"></td>
        <tr>
        <td><a href="/view_reply_user" class="btn btn-info" style="background-color: #a2edb1">view reply</a></td>
        </tr>
    </table>
</form>

</body>
</html>
{% endblock %}