<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome user</title>
</head>
<body>
<h1> welcome User</h1>

<a href="/view_shop"> view shop</a><br>

<a href="/add_changepassword_user"> change password</a><br>
<a href="/view_profile_user">view profile</a><br>
<a href="/sent_complaint_user">sent complaint</a><br>
{#<a href="/add_user"> register</a><br>#}
<a href="/view_product_user"> view product</a><br>
<a href="/sent_feedback_user"> sent feedback</a><br>
<a href="/view_cart"> view cart</a><br>
{#<a href="/add_cart">add to cart</a><br>#}

<a href="/view_order_user"> view order</a><br>

</body>
</html>