{% extends 'userpage/userindex.html' %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/view_cart_search#c"> {% csrf_token %}
<table>
    <td><input type="text" placeholder="enter product name" name="date" class="form-control"></td>
    <td><input type="submit" class="btn btn-success"></td>

</table>
<br>
<table class="table table-striped" >
    <tr>
        <td>product</td>
        <td>date</td>
        <td>quantity</td>
        <td>total</td>
       {% for i in data %}
        <tr>
    <td>{{i.PRODUCT.name}}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.total }}</td>
        <td><a href="/order_product_user_POST/{{ i.id }}" class="btn btn-info" style="background-color: #91ed92">order</a></td>
    </tr>
    {% endfor %}

</table>
</form>
</body>
</html>
{% endblock %}