<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>welcome admin</h1>
<a href="/add_changepassword_admin">Change password</a><br>
<a href="/view_user">View user</a><br>
<a href="/manage_shop_admin"> Manage shop</a><br>
<a href="/view_complaint_admin">View complaint</a><br>
<a href="/view_feedback_admin">View feedback</a><br>
<a href="/shopcategory">add shopcategory</a><br>
<a href="/view_shopcategory"> View shop category</a>


</body>
</html>