{% extends 'adminpage/adminindex.html' %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/add_changepassword_admin_POST"> {% csrf_token %}
    <table class="table table-striped" style="background-color: #cbc9ff">
        <tr>
            <td style="color: black">Oldpassword</td>
            <td><input type="text" name="oldpassword" class="form-control" required pattern="[a-z A-Z]+"></td>
            <tr>
        <td style="color: black">New password</td>
        <td><input type="text" name="newpassword" class="form-control" required pattern="[a-z A-Z]+"></td>
        <tr>
        <td style="color: black">Confirm password</td>
        <td><input type="text" name="confirmpassword" class="form-control" required pattern="[a-z A-Z]+"></td>
        <tr>
        <td><input type="submit" class="btn btn-info" style="background-color: #91ed92"></td>
        </tr>
    </table>
</form>

</body>
</html>
{% endblock %}