{% extends 'shoppage/index.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/add_changepassword_shop_POST"> {% csrf_token %}
    <table class="table table-striped" style="background-color: #d5d7ff">
        <tr>
            <td>Oldpassword</td>
            <td><input type="text" name="oldpassword" class="form-control" required="[a-z A-Z]+"></td>
            <tr>
        <td>New password</td>
        <td style="background-color: #dedbff"><input type="text" name="newpassword" class="form-control" required="[a-z A-Z]+"></td>
        <tr>
        <td>Confirm password</td>
        <td><input type="text" name="confirmpassword" class="form-control" required="[a-z A-Z]+"></td>
        <tr>
        <td style="background-color: #dedbff"><input type="submit" class="btn btn-info"></td>
        </tr>
    </table>
</form>

</body>
</html>
{% endblock %}