<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome shop</title>
</head>
<body>
<h1> Welcome Shop</h1>
{#<a href="/add_shop">Register</a><br>#}
<a href="/add_changepassword_shop"> change password</a><br>
<a href="/view_profile_shop">view profile shop</a><br>
<a href="/add_product_shop">Add product</a><br>
<a href="/view_product_shop">view product</a><br>
<a href="/view_order">View order</a><br>
<a href="/add_delivery">add delivery</a><br>
<a href="/view_delivery"> view delivery</a><br>
<a href="/view_rating">View rating</a><br>

</body>
</html>